.main-chat
  .main-chat__header
    .main-chat__header__leftbox
      .main-chat__header__leftbox__groupname
        = @group.name
      .main-chat__header__leftbox__member
        Member:
        - @members.each do|m|
          = User.find(m.user_id).name
    .main-chat__header__rightbox
      .main-chat__header__rightbox__btn_war
        = link_to edit_group_path(@group) do
          WAR
      .main-chat__header__rightbox__btn_edit
        = link_to edit_group_path(@group) do
          Edit
  .main-chat__main
    = render @messages
  .main-chat__footer
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: "text", placeholder: "type a message"
      = f.label :image, class: "label" do
        = f.file_field :image, class: "none" 
        = icon('fas', 'image')
      = f.submit 'Send', class: "submit"